<% arguments = options.fetch(:task_arguments, {}) %>

<table>
<thead>
<tr>
    <td>Name</td>
    <td>Event ID</td>
    <td>Task</td>
    <td><% arguments.each do |name| %><%= name %><% end %></td>
</tr>
</thead>

<% Array(roby_events).each do |ev| %>
<% task = ev.task %>
<tr>
    <td>roby.<%= ev.task.model.name.gsub("::", ".") %>.<%= ev.model.name %>_event</td>
    <td><%= ev.id %></td>
    <td><%= ev.time %></td>
    <td><% arguments.each do |name| %><%= task.arguments.keys %><% end %></td>
</tr>
<% end %>
</table>